@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Fascinate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@700&display=swap');

$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';
 
#{$a-tags} {
  color: midnightblue;
  text-decoration: none;
}
#{$a-tags-hover} {
  color: green;
  
}
h1 {
  color: darkslategray;
}
img {
  width: 85%;
  align-items: center;
}
h1 {
  font-family: 'Zilla Slab Highlight';
}
.App {
  text-align: center;
  font-family: 'Dosis';
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}


.App-header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.image-cropper {
    border-radius: 70%;
}
.images {
  display: flex;
  justify-content: space-evenly;

}
.k-card-image {
  width: 20rem;
}
.portfolio {
  width: 30%;
}
.App-link {
  color: #61dafb;
}
.kmLogo {
  border-radius: 50%;
  padding: 10;
 
}




